
//==================================================================================================================================================================================
.price-filter {
    // .price-filter__slider
    &__slider{
        height: 0.4rem;
        background-color: $gray10;
        margin: 0 1.1rem 5rem;
        position: relative;
        &::before, &::after{
            content: '';
            background-color: $gray10;
            width: 1.1rem;
            height: 0.4rem;
            position: absolute;
            top: 0;
        }
        &::before{
            left: -10px;
        }
        &::after{
            right: -10px;
        }
        .noUi-base, .noUi-connects{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .noUi-connects{ // вот эти две строчки по итогу спасли нам жЫзнь
            overflow: hidden;
            z-index: 0;
        }
        .noUi-connect,
        .noUi-origin {
            will-change: transform;
            position: absolute; //самое главное что спасло жизнь
            z-index: 1;
            top: 0;
            right: 0;
            transform-origin: 0 0;
            transform-style: flat;
        }
        .noUi-connect{
            height: 100%;
            width: 100%;
            background-color: $orange3;
        }
        .noUi-origin {
            width: 10%;
            height: 10%;
        }
        .noUi-horizontal .noUi-origin {
            height: 0; // и эта
        }
        .noUi-handle{
            width: 2.3rem;
            height: 2.3rem;
            //position: relative; // это нахер не нужно по итогу
            top: -10px;
            right: -11.5px;
            background-color: $white;
            border: 1px solid $orange;
            border-radius: 50%;
            cursor: pointer;

            backface-visibility: hidden;
            position: absolute;
            &::after{
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                background-color: $orange;
            }
        }
        .noUi-tooltip{
            position: absolute;
            bottom: -18px;
            left: 50%;
            transform: translateX(-50%);
            color: $light-gray;
            font-size: 1.2rem;
            font-weight: 600; //исх. 300
        }
    }
    // .price-filter__values
    &__values {
    }
    .values-price-filter {
        display: flex;
        margin: 0 -1.5rem;
        // .values-price-filter__column
        &__column {
            flex: 0 1 50%;
            padding: 0 1.5rem;
            display: flex;
            align-items: center;
        }
        // .values-price-filter__label
        &__label {
            font-size: 1.2rem;
            line-height: 3rem;
            font-weight: 300;
            color: $light-gray;
        }
        // .values-price-filter__input
        &__input {

            flex: 1 1 auto;
            padding-left: 1rem; // собсна для "от/до"
            input{
                border: 1px solid $light-gray;
                height: 2.3rem;
                font-size: 1.2rem;
                font-weight: 500;
                color: $black2;
                padding: 0 1rem;
                text-align: center;
                outline: none; // добавил сам, пиздец какой-то без этого, я даже хз откуда оно берется
            }
        }
    }
}
//==================================================================================================================================================================================
.filter {
    color: $black;
    background: $white;
    border: 4px solid $blue9;
    // .filter__title
    &__title {
        padding: 2rem;
        font-size: 2.4rem;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: $blue7;
        white-space: nowrap;
        &._active{
            padding: 2rem 2rem 0.5rem;
        }
    }
    // .filter__content
    &__content{
        @media (max-width: $md2+px){
            display: none;
        }
        @media (min-width: $md2+px){
            display: block; // !important здесь НЕ НУЖЕН
        }
    }
    // .filter__body
    &__body {

    }
    // .filter__section
    &__section {
        border-bottom: 1px solid $blue9;
    }
    // .filter__footer
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1.5rem 2rem;
    }
    // .filter__btn
    &__btn { //ну тут либо паддинг задавать, либо лайн-хейт ебануть во всю высоту кнопки (lh типо даже лучше получилось)
        padding: 0;
        width: 96px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        text-transform: none;
        font-size: 1.2rem;
    }


}
.section-filter {
    padding: 2rem;
    border-bottom: 1px solid $blue9;
    &:last-child{
        border: 0;
    }
    // .section-filter__title
    &__title {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
        color: $blue7;
        //margin-bottom: 1.5rem; //это НЕВЕРНОЕ решение, заменили это на pt1.5r в __body
        min-height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &._spoller{ //сюда можно было бы неплохих анимаций накидать, если бы у нас были svg здесь
            cursor: pointer;
            &::after{
                content: "";
                border-radius: 50%;
                flex: 0 0 3rem;
                width: 3rem;
                height: 3rem;
                border: 1px solid $blue9;
                background: url('../img/text-arrow.png') center no-repeat;

            }
            &._active{
                color: $black2;
                &::after{
                    border: 1px solid $black;
                    background: url('../img/spoller-arrow.png') center no-repeat;
                }
            }
        }
        &._spoller + .section-filter__body{ // изначально скрываем спойлер
            display: none;
        }
    }
    // .section-filter__body
    &__body {
        padding-top: 1.5rem;
    }
    // .section-filter__checkbox
    &__checkbox{
        display: block; // по какой-то причине сначала оно было нихера не блочным))
        margin-bottom: 1.5rem;
        &:last-child{
            margin-bottom: 0;
        }
        .checkbox__input{

            &:checked + .checkbox__text::before{
                border: 2px solid $blue10;
            }
            &:checked + .checkbox__text::after{ // прикольный квадратик получился
                content: "";
                position: absolute;
                top: 3px;
                left: 3px;
                width: 9px;
                height: 9px;
                background-color: $blue2;
            }
        }
        .checkbox__text{
            font-size: 1.2rem;
            font-weight: 400;
            color: $gray4;
            letter-spacing: 0;
            line-height: calc(15 / 12);
            &::before{
                width: 1.5rem;
                height: 1.5rem;
                border: 2px solid $gray9;
                flex: 0 0 1.5rem;
            }
        }
    }
}
//==================================================================================================================================================================================
.compare-filter {
    // .compare-filter__items
    &__items {
        padding-right: 1.3rem;
    }
    // .compare-filter__item
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
        color: $black2;

    }
    &__item + &__item{
        margin-top: 1rem;
    }
    // .compare-filter__link
    &__link {
        flex: 1 1 auto;
        font-size: 1.2rem;
        font-weight: 400;
        text-decoration: underline;
        color: $blue2;
    }
    // .compare-filter__remove
    &__remove { // тоже пиздос наркомания, нарисовать этот крестик в css 20 секунд времени
        background: url('../img/remove.png') 0 0 no-repeat;
        flex: 0 0 1rem; // прикольно, если у нас название товара овердлинное, то ничего не случится таким образом с крестиком
        width: 1rem;
        height: 1rem;
        transition: all 0.3s ease 0s;
        margin-left: 1rem; // чтобы текст короче не наезжал
        @media (min-width: $md2+px){
            &:hover{
                background: url('../img/remove-active.png') 0 0 no-repeat;
            }
        }
    }
    // .compare-filter__footer
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.5rem;
    }
    // .compare-filter__button
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.3rem;
        border-radius: 16.5px;
        height: 3.3rem;
        background-color: $blue2;
        span{ // как по мне - пиздец наркомания, мегахреновая практика
            background: url('../img/compare-btn.png') left no-repeat;
            padding-left: 3rem;
            text-transform: uppercase;
            color: $white;
            font-weight: 700;
            line-height: 3.3rem;
            display: inline-block;
        }

    }
    // .compare-filter__clean
    &__clean {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        background: $gray11 url('../img/trash.png') center no-repeat; // ещё раз приметить такой вид записи
    }
}
//==================================================================================================================================================================================
.breadcrumbs {
    overflow: auto;
    margin-bottom: 2.5rem;

    // .breadcrumbs__list
    &__list {
        display: flex;
        align-items: baseline;
        white-space: nowrap;
        li{
           padding-right: 2rem; //если текст будет длиннее, для надежности
           margin-right: 1rem;
           background: url('../img/text-arrow.png') right / 10px no-repeat;
           &:last-child{
               background: none;
               padding-right: 0;
               margin-right: 0;
           }

        }
    }
    // .breadcrumbs__link
    &__link {
        //display: inline-block;
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 300;
        text-decoration: underline;
        color: $blue2;
    }
    // .breadcrumbs__item
    &__item {
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 300;
        color: $light-gray;
    }
}
//==================================================================================================================================================================================
.catalog {
    margin-bottom: 15rem;
    // .catalog__title
    &__title {
        font-family: "UniSans", sans-serif;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        color: $gray9;
        padding-bottom: 2.5rem;
    }
    // .catalog__actions
    &__actions {
        margin-bottom: 1.5rem;
    }
    // .catalog__nav
    &__nav {
    }
    &__products{
        padding-top: 2.5rem;
    }
}
.actions-catalog {
    background-color: $gray13;
    padding: 1rem 2rem;
    @media (min-width: $md4+px){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .actions-catalog__order
    &__order {
    }
    // .actions-catalog__view
    &__view {
    }
}
.order-catalog {
    @media (min-width: $md4+px){
        display: flex;
        align-items: center;
    }
    // .order-catalog__label
    &__label {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 700;
        color: $black2;
        margin-right: 2rem;
    }
    // .order-catalog__select
    &__select {
        padding: 1rem 0;
        white-space: nowrap;
        @media (min-width: $md4){
            padding: 0 1.5rem;
        }
    }
}
.view-catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8.2rem;
    // .view-catalog__item
    &__item {
        cursor: pointer;
        width: 3.6rem;
        height: 3.6rem;
        background-color: $white;
        transition: 0.5s ease 0s;
        @media (min-width: $md2+px){
            &:hover{
                background-color: $blue11;
            }
        }
        // .view-catalog__item--grid
        &--grid {
            background: $white url('../img/grid.svg') center no-repeat;
        }
        // .view-catalog__item--list
        &--list {
            background: $white url('../img/list.svg') center no-repeat;
        }
    }
}
.nav-catalog {
    border-top: 1px solid $gray14;
    border-bottom: 1px solid $gray14;
    padding: 1rem 1.5rem;
    &--top{ //возможно этот модификатор НАХУЙ не нужен, я типа задал pt для catalog__products

    }
    @media (min-width: $md4+px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    // .nav-catalog__show
    &__show {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: $md4+px){
            margin-bottom: 0;
        }
    }
    // .nav-catalog__pages
    &__pages {
    }
}
.show-catalog {
    // .show-catalog__label
    &__label {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 700;
        color: $black2;
    }
    // .show-catalog__select
    &__select {
        margin: 0 1.5rem;
    }
}
//==================================================================================================================================================================================
.select{ // хоть и поддельный двойной селект у нас через js в html вырисосывается, стили ПОЛНОСТЬЮ самому надо ебашить туда
    position: relative;
    &._active{
        z-index: 4;
        .select__value::before {
            transform: rotate(-180deg);
        }
        .select__options {
            display: block;
        }
    }
    &__item {
        position: relative;
    }
    &__title{
        color: $black;
        background-color: $white;
        cursor: pointer;
        font-size: 1.4rem;
    }
    &__value {
        font-size: 1.4rem;
        color: $blue2;
        margin-right: 2rem;
        padding: 1rem 1.5rem 0.6rem 1.5rem;
        span{
            height: 1em;
            overflow: hidden;
        }
        &::before{
            content: "";
            display: inline-block;
            transition: all .3s ease 0s;
            width: 14px;
            height: 8px;
            position: absolute;
            right: 8px;
            top: 12px;
            border-top: 8px solid $gray12;
            border-left: 7px solid $white;
            border-right: 7px solid $white;
        }
        @media (min-width: $md4+px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
    &__options {
        color: $gray4;
        display: none;
        position: absolute;
        top: 29px;
        border-radius: 0 0 4px 4px;
        min-width: 100%;
        left: 0;
        background-color: $white;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
        border-top: 0;
        font-size: 14px;
        padding: 10px 0 5px 0;
    }
    &__option {
        cursor: pointer;
        padding: 5px 15px;
        margin: 0;
    }
    &_show{
        .select__item{
            border: solid 2px $white3;
        }
        .select__value{
            color: $light-gray;
            font-weight: 900;
            font-size: 1.6rem;
        }
    }
}
//==================================================================================================================================================================================
.pagging {
    display: flex;
    align-items: center;
    justify-content: center;
    // .pagging__arrow
    &__arrow {
        height: 2.4rem;
        width: 2.4rem;
        cursor: pointer;
        background: url('../img/products-slider__arrow.svg') center/contain no-repeat;
        flex: 0 1 2.2rem; //отсебятина, ну а чо поделать (ну либо ещё сильнее уменьшать маржин/находить и подключать норм свг)
        @media (max-width: $md5+px){
            //display: none;
        }
    }
    // .pagging__arrow-prew
    &__arrow-prew {
        transform: rotateY(-180deg);
    }
    // .pagging__list
    &__list {
        display: flex;
        margin: 0 7px 0 15px;
        @media (min-width: $md4+px){
            margin: 0 23px 0 31px;
        }
        li{

        }
    }
    // .pagging__item
    &__item {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 1.5rem;
        line-height: 2.4rem;
        font-weight: 900;
        color: $black2;
        &._active {
            background-color: $orange2;
        }
        @media (min-width: $md5+px){
            width: 3.3rem;
            height: 3.3rem;
            font-size: 1.8rem;
        }
    }
}
//==================================================================================================================================================================================

