.mainslider {
    color: $black;
    // .mainslider__body
    &__body {
    }
    // .mainslider__slide
    &__slide {
        position: relative;
    }
    // .mainslider__content
    &__content {
        position: relative;
        z-index: 2;
    }
    // .mainslider__image
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        vertical-align: top;
        top: 0;
        left: 0;
    }
    // .mainslider__dotts
    &__dotts {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        //margin: -2.75rem 2.3rem 0 2.3rem;
        margin: calc(-15px + -12.5 * ((100vw - 320px)/ 247.98)) 0 0;
        counter-reset: item;
        //margin: calc(-15px + -12.5 * ((100vw - 320px)/ 247.98)) 0 0; //украл у метрикса
        @media (min-width: $md4+px){
            margin: -2.75rem 0 0;
        } //тупо украл у bdemetrix'a (хотя нам надо украть для swiper-pagination)
        @media (max-width: $md3+px){
           // display: none; //пока так, но нужно украсть адаптивные маржины
        }
        &.swiper-pagination-bullets, .swiper-pagination-horizontal{
            bottom: 0;
        }
        .swiper-pagination-bullet{
            // inline-block !important; //иначе там какой-то класс перекрывает единственную точку, хотя можно удалить когда точек будет больше
            margin: 0 2.3rem;
            position: relative;
            border-radius: 50%;
            border: 2px solid $blue;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 calc(10px + 13 * ((100vw - 320px)/ 247.98));
            width: calc(30px + 25 * ((100vw - 320px)/ 247.98));
            height: calc(30px + 25 * ((100vw - 320px)/ 247.98));
            font-size: calc(16px + 8 * ((100vw - 320px)/ 247.98));
            @media (min-width: $md4+px){
                margin: 0 2.3rem;
                width: 5.5rem;
                height: 5.5rem;
                font-size: 2.4rem;
            }
            &::after{
                color: $white;
                //font-size: 1.6rem;
                font-weight: 900;
                position: absolute;
                width: 100%;
                height: 100%;
                width: calc(100% + 6px);
                height: calc(100% + 6px);
                top: -3px;
                right: -3px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $orange;
                counter-increment: item;
                content: counter(item);
                opacity: 0;
                transition: all 0.5s ease 0s;
            }
        }
        .swiper-pagination-bullet-active{
            &::after{
                opacity: 1;
            }
        }

    }
}
.content-mainslider {
    //padding: 2rem 3.5rem 6rem 3.5rem;
    padding: 20px calc(20px + 15 * ((100vw - 320px)/ 247.98)) 60px;
    @media (min-width: $md4+px){
        padding: 2rem 3.5rem 8rem;
    }
    // .content-mainslider__title
    &__title {
        color: $black2;
        font-size: calc(35px + 13 * ((100vw - 320px)/ 247.98));
        font-weight: 900;
        text-transform: uppercase;
        line-height: 0.9;
        margin-bottom: 5rem;
        @media (min-width: $md4+px){
            font-size: 4.8rem;
        }
        span{
            display: block;
            color: $orange;
        }
    }
    // .content-mainslider__text
    &__text {
    }
    // .content-mainslider__footer
    &__footer {
        text-align: center;
        padding-top: 1.5rem;
    }
    // .content-mainslider__price
    &__price {
        font-size: 3.6rem;
        font-weight: 900;
        //line-height: 2.4rem;
        color: $white;
        margin-bottom: 2.4rem;
    }
    // .content-mainslider__button
    &__button {
        height: 3.3rem;
        border: 3px solid $white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding: 0 2rem;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover{
            background-color: $orange;
        }
        span{
            background: url('../img/menu-arrow.png') right no-repeat;
            font-weight: 900;
            color: $white;
            text-transform: uppercase;
            padding-right: 3rem;
        }
    }
}
.text-mainslider {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 900;
    color: $black2;

    // .text-mainslider__text-1
    &__text-1 {
        color: $orange;
        font-size: 1.8rem;
    }
    // .text-mainslider__text-2
    &__text-2 {
        color: $white;
        background-color: $gray6;
        display: inline-block;
        padding: 0.5rem 1rem;

    }
    // .text-mainslider__text-3
    &__text-3 {
        color: $gray5;
    }
}
._ibg {
    //position: relative;
    img{
    max-width: 100%;
    object-fit: cover;
    }
}

//====================================================================================================================================================================================================================

.products-slider {
    // .products-slider__header
    &__header {
        margin-bottom: 15px;
        @media (min-width: 640+px){
            display: flex;
            align-items: center;
            margin-bottom: 3rem;
        }
    }
    // .products-slider__title
    &__title {
        flex: 1 1 auto;
        font-family: "UniSans", sans-serif;
        font-size: 3.6rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.9px; //или 0.75px
        color: $gray3;
        @media (max-width: 640+px){
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    }
    // .products-slider__control
    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__info{
        padding: 0 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: .35px;
        color: $light-gray;
        .swiper-pagination-current{
            color: $black2;
            font-size: 3rem;
            font-weight: 900;
            letter-spacing: 0.75px;
        }
        &.swiper-pagination-fraction{
            width: auto; //либо так либо через js
        }
    }
    // .products-slider__arrow
    &__arrow {
        &--prev{
        }
    }
}

//====================================================================================================================================================================================================================

.brands-slider {
    border-bottom: 3px dashed $gray9;
    border-top: 3px dashed $gray9;
    padding: 2.5rem 0; // центрируем слайдер между границ
    // .brands-slider__container
    &__container {
        position: relative;
        overflow: hidden;
        padding: 0 8rem;
    }
    // .brands-slider__body
    &__body {
        margin: 0 -3rem;
        height: 100%;
    }
    // .brands-slider__slide
    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        @media (min-width: $md4+px){
            padding: 0 3rem;
        }

        img {
            transition: all .3s ease 0s;
            filter: grayscale(1);
            cursor: pointer;
            max-height: 100%;
            max-width: calc(150px + 133.99 * ((100vw - 320px)/ 247.98));
            vertical-align: top;
            @media (min-width: $md4+px) {
                max-width: 100%;
            }
            &:hover{
                filter: grayscale(0);
            }
        }
    }
    // .brands-slider__arrows
    &__arrows {
    }
    // .brands-slider__arrow
    &__arrow {
        position: absolute;
        top: 50%;
        margin: -1.5rem 0 0 0; // т.к. высота стрелки 3rem то мы выраниваем её по вертикали таким вот хитрым образом
        // .brands-slider__arrow--prev
        &--prev {
            left: 10px;
        }
        // .brands-slider__arrow--next
        &--next {
            right: 10px;
        }
    }
}

//====================================================================================================================================================================================================================

.text-block {
    // .text-block__container
    &__container {
        @media (max-width:$md3+px){
            padding: 0;
        }
        @media (max-width:$md4+px){
            padding: 0 1rem;
        }
    }
    // .text-block__body
    &__body {
        background: url("../img/bg-text.png") 0 0 repeat; //эту картинку можно было бы вырезать в фотошопе и дублировать часть паттерна потом, но чет лень, скачал целиком; repeat здесь чтобы при уменьшении ширины копировался фон во всю высоту блока
        padding: 3.5rem 2rem 3rem 2rem;
        @media (min-width: $md3+px){
            padding: 4.5rem 4rem 3rem 4rem;
        }
    }
    // .text-block__title
    &__title {
        font-family: 'UniSans', sans-serif;
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        color: $blue8;
        margin-bottom: 3.3rem;
        @media (min-width: $md3+px){
            margin-bottom: .83333em;
        }
    }
    // .text-block__row
    &__row {
        margin: 0 -3rem;
        font-size: 1.3rem;
        line-height: 2rem;
        letter-spacing: 0.3px;
        @media (min-width:$md2+px){
            display: flex;
        }
    }
    // .text-block__column
    &__column {
        text-align: left;
        position: relative;
        padding: 0 3rem;
        margin-bottom: 3rem;
        @media (min-width:$md3+px){
            flex: 0 1 50%;
            font-size: 1.2rem;
        }
    }
    // .text-block__label
    &__label {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.75px;
        margin-bottom: 0.5rem;
    }
    // .text-block__info
    &__info + &__info{ //прикольно, не знал что в таком синтаксисе (scss) работает комбинация селекторов
        margin-top: 2rem;
    }
    // .text-block__list
    &__list {
    }
    // .text-block__item
    &__item {
    }
    &__item + &__item{
        margin-top: 0.5rem;
    }
    // .text-block__fact
    &__fact{
        text-align: justify;
        &::before{
            content: '';
            display: inline-block;
            width: 1.1rem;
            height: 1.1rem;
            background: url('../img/text-arrow.png') left no-repeat;
            margin-right: 1.7rem;
            margin-left: 0.7rem;
        }
        @media (max-width:$md1+px){
            br{
                display: none;
            }
        }
    }

	// .text-block__image
    &__image {
        position: absolute;
        right: 0;
        bottom: -140px;
        @media (max-width:$md1+px){
            display: none;
        }
    }

}

//====================================================================================================================================================================================================================
.info-menu {
    color: $black;
    border-bottom: 3px dashed $gray9;
    border-top: 3px dashed $gray9;
    margin-bottom: 3rem; //это потом убрать, просто для наглядности добавил
    // .info-menu__container
    &__container {
    }
    // .info-menu__body
    &__body {
        display: inline-block;
        @media (max-width:$md3+px){
            display: flex;
        }
    }
    // .info-menu__line
    &__line {
        display: flex;
        align-items: center;
        border-bottom: 3px solid rgba(176,176,176,0.2);
        padding: 1.4rem 1rem 1.4rem; //здесь слева и справа по 10px, чтобы не писать это в info-menu
        &:last-child{
            border: 0;
        }
        @media (max-width:$md3+px){
            display: block;
            flex: 0 1 50%;
            border: 0;
        }
    }
    // .info-menu__label
    &__label {
        font-weight: 700;
        @media (max-width:$md3+px){
            margin-bottom: 1rem;
        }
        @media (min-width:640px){
            margin-right: 3.5rem;
        }
    }
    // .info-menu__list
    &__list {
        @media (min-width:$md3+px){
            display: flex;
            align-items: center;
        }
    }
    // .info-menu__item
    &__item {
        margin-right: 3rem;

        border-radius: 25px;
        cursor: pointer;
        @media (min-width:$md2+px){
            padding: 0 0.7rem;
            transition: 0.3s all ease 0s;
            &:hover{
                background-color: $orange2;
                .info-menu__link{
                    color: $black2;
                }

            }
        }
    }
    // .info-menu__link
    &__link {
        font-size: 1.3rem;
        line-height: 2.4rem;
        font-weight: 400;
        color: $blue2;
        transition: 0.3s all ease 0s;
        /* @media (min-width:$md2+px){
            transition: 0.3s all ease 0s;
            &:hover{
                color: $black2;
            }
        } */ // мы перенесли это в .info-menu__item
    }
}
