.page {
    flex: 1 1 auto;
    padding-top: 16rem;
    @media (max-width: $md3+px){
        padding-top: 13.03rem;
    }
    @media (max-width: 640px){
        padding-top: 8.5rem;
    }
    // .page__container
    &__container {
        @media (min-width: $md2+px){
            display: flex;
        }

    }
    // .page__side
    &__side {
        //position: relative; // зачем оно тут я хз??!??!
        flex: 0 0 26rem;
        z-index: 5;
        @media (max-width: $md2+px){
            margin-bottom: 3rem;
        }
    }
    // .page__menu
    &__menu {
        margin-bottom: 4rem;
    }
    // .page__content
    &__content {
        margin-bottom: 3rem;
        @media (min-width: $md2+px){
            flex: 1 1 auto;
            min-width: 0; //для страховки на случай поломки слайдера
            padding-left: 3rem;
        }
    }
    // .page__search
    &__search{
        margin-bottom: 2.2rem; //отступ от поиска до слайдера
        z-index: 4;
    }
    // .page__slider
    &__slider {
        margin-bottom: 6.5rem;
    }
    // .page__news-side
    &__news-side{
        color: $black;
        margin-bottom: 7.5rem;
        &:last-child{
            margin-bottom: 0;
        } // не понятно зачем нам в обоих этих классах ласт чайлд, блок то чисто один
    }
    // .page__reviews-side
    &__reviews-side{
        margin-bottom: 7.5rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    // .page__products
    &__products {
        margin-bottom: 2rem;
    }
    // .page__brands
    &__brands {
        margin-bottom: 4rem;
    }
    // .page__text
    &__text {
        margin-bottom: 5rem;

    }
    // .page__info-menu
    &__menu {
        margin-bottom: 5rem;
    }
}
.menu-page {
    position: relative;
    background: url("../img/bg-menu.webp") top repeat; //лол рили?!?!?!
    // .menu-page__header
    &__header {
        display: flex;
        align-items: center;
        padding: 2rem;
    }
    // .menu-page__title
    &__title {
        flex: 1 1 auto;
        font-family: "UniSans", sans-serif;
        font-size: 30px;
        line-height: 35 / 30 * 100%;
        text-transform: uppercase;
        letter-spacing: .75px;
        font-weight: 700;
    }
    // .menu-page__burger
    &__burger {
        flex: 0 0 3.6rem; // охуенный трюк
        width: 3.6rem;
        height: 3.6rem;
        background-color: $blue4;
        position: relative;
        cursor: pointer;
        z-index: 5;
        padding: 1rem 0.6rem;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 0.1rem);
            left: 0;
            position: absolute;
            width: 100%;
            height: 0.2rem;
            background-color: #fff;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
        &._active {
            span {
                transform: scale(0); //это для плавного скрытия средней линии бургера

                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 0.1rem);
                }

                &:last-child {
                    transform: rotate(45deg);
                    top: calc(50% - 0.1rem);
                }
            }
        }
    }
    // .menu-page__lines
    &__lines{
        height: 16px;
        position: relative;
    }
    // .menu-page__body
    &__body {
        //transition: all 0.5s ease 0s; //мы изначально транзишн прописали в ._active, из-за этого на .menu-page__list>li к border транзишн не применялся
        //min-height: 0; // изменили height на min-height и всё сразу встало норм при адаптиве, подтянулось так сказать у этого класса ещё без эктив
        //overflow: hidden; //ваще можно overflow-x написать
        display: none;
        &._active{
            display: block;
        }
    }
    // .menu-page__list
    &__list {
        > li{ // ">" - обращение к li только первого уровня
            border-bottom: 1px solid $gray2;
        }
    }
    // .menu-page__parent
    &__parent{
        .menu-page__link{
            &::after{
                content: '';
                position: absolute;
                right: 1rem;
                background: url("../img/menu-arrow.png") no-repeat;
                top: 50%;
                transform: translateY(-50%);
                width: 1.4rem;
                height: 1.4rem;
                transition: all 0.5s ease 0s;
                @media (max-width:$md2+px){
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }
        &._active{
            .menu-page__link::after{
                transform: translateY(-50%) rotate(-180deg);
                text-align: center;
                top: 50%;
            }
            .menu-page__submenu{
                pointer-events: all;
            }
            .submenu-page__item{ //дописали уже на 3:50+ при адаптиве
                //height: 17.03rem;
                //display: block;
                //display: block;
                @media (min-width: $md2+px){

                    transform: translateX(0);
                    z-index: 6;
                    //transform: translateY(0);
                }
            }
            .menu-page__link{
                background-color: $blue6;
                @media (max-width:$md2+px){
                    &::after{
                        transform: translateY(-50%) rotate(-90deg);
                    }
                }
            }
        }
    }
    // .menu-page__link
    &__link {
        letter-spacing: 0.3px;
        font-weight: 300;
        font-size: 1.3rem; //в макете 1.2 но пздц мелкий
        color: $white;
        display: block;
        position: relative;
        padding: 1.2rem 2rem;
        transition: all 0.3s ease 0s;
        @media (min-width: $md2+px){
            &:hover{
                background-color: $blue4;
            }
        }
        @media (max-width: $md2+px){
            font-size: 1.5rem;
            //padding: 1rem 2rem;
        }
    }
    // .menu-page__submenu
    &__submenu{
        @media (min-width: $md2+px){ //дописали уже на 3:50+ при адаптиве
            transition: all 0.5s ease 0s;
            width: 100%;
            position: absolute;
            top: 0;
            //transform: translateX(100%);
            height: 100%;
            left: 100%;
            //overflow: hidden; //хз насколько таким способом адекватно делать выезжающее подменю
            pointer-events: none;
            overflow: hidden;
        }
    }
}

.submenu-page {
    @media(max-width: $md2+px){
        background: $white;
    }
	// .submenu-page__item
    &__item {
        display: none;
        //min-height: 0;

        //overflow: hidden; //едрить магия, сам придумал
        @media (min-width: $md2+px){ //дописали уже на 3:50+ при адаптиве
            //transition: all .5s ease 0s; // от себя добавил
            //display: none;
            //display: block;
            display: block;
            overflow-x: hidden;
            transition: all .5s ease 0s;
            width: 28rem;
            border: 2px solid $blue6;
            background-color: $white;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateX(-100%);

            //transform: translateY(-10%);
            z-index: 3;

        }
        @media (max-width: $md2+px){
            //height: 17.03rem;
        }

    }
    // .submenu-page__menu
    &__menu {
        border-bottom: 1px solid $gray3;
        padding: 2rem 0;
        li{

        }
    }
    // .submenu-page__link
    &__link {
        font-size: 1.3rem; //увеличил сам с 1.2
        //line-height: 3.6rem; //типа мы заменяем высоту строки паддингами
        font-weight: 300;
        color: $blue2;
        letter-spacing: 0.3px;
        padding: 1rem 4rem;
        display: block;
        transition: all 0.3s ease 0s;
        @media(min-width: $md2+px){
            &:hover{
                color: $white;
                background-color: $blue5;
            }
        }
        @media(max-width: $md2+px){
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }

    }
    // .submenu-page__product
    &__product {
        padding: 0 1.5rem;
        @media(max-width: $md2+px){
            display: none;
        }
        .item-product{ // у меня и так и так нету границ вроде так что хз
            border: 0;
        }
    }
}
//=====================================================================================================================================================================
// типа сетка для карточек
.items-products { // в пизду соверщенно ненужная хуйня!!!!
      //отрицательный margin для отступа между карточками товаров
    // это убрать потом
    display: flex;
    margin: 0 -1.5rem;
    flex-wrap: wrap;
    // .items-products__column
    &__column {
        flex: 0 1 33.333%;
        padding: 0 1.5rem;
        margin-bottom: 3rem;
        @media (max-width: $md1+px) and (min-width: $md2+px){
            flex: 0 1 50%;
        }
        @media (max-width: 840px) {
            flex: 0 1 50%;
        }
        @media (max-width: 600px) {
            flex: 1 1 100%;
        }

    }
}
.item-product {
    padding: 1.5rem 0;
    position: relative;
    border: 1px solid $gray7;
    overflow: hidden;
    height: 100%;
    color: $black;
    display: flex;
    flex-direction: column;
    /* @media (min-width: $md2+px){
        &:hover{
            .item-product__hover {
                transform: translateX(0);
            }
            .item-product__footer,
            .item-product__body {
                opacity: 0;
                transition: all .5s ease;
            }
            .item-product__labels{
                opacity: 0;
                transition: all .5s ease;
            }
        }
    } */ // ховером ну такое себе, а через событие mouseenter багует чутка, возможно связано с кучей слоёв свайпера над .item-product__image
    &._active{
        .item-product__hover {
            transform: translateX(0);
        }
        .item-product__footer{
            opacity: 0;
            transition: all 0.5s ease;
        }
        .item-product__body {
            opacity: 0;
            transition: all .5s ease;
        }
        .item-product__labels{
            opacity: 0;
            transition: all .5s ease;
        }
    }
    // .item-product__labels
    &__labels {
        position: absolute;
        left: 15px;
        top: 15px;
        opacity: 1;
    }
    // .item-product__label
    &__label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $white;
        margin-bottom: 1rem;
        height: 2.1rem;
        background-color: $orange;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
        border-radius: 15px;
        cursor: pointer;
        padding: 0 1.5rem;
    }
    // .item-product__image
    &__image {
        height: 26rem;
        //height: 19.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        img{
            max-width: 100%;
            max-height: 24rem;
        }
    }
    // .item-product__body
    &__body{
        padding: 0 1rem;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        opacity: 1;
    }
    // .item-product__title
    &__title {
        flex: 1 1 auto;
        display: inline-block;
        color: $blue7;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom: 0.5rem;
        //flex: 1 1 auto;
        transition: all 0.5s ease 0s;
        span{
            display: block;
            font-weight: 900;
        }
    }
    // .item-product__footer
    &__footer {
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease 0s;
    }
    // .item-product__old-price
    &__old-price {
        flex: 1 1 100%;
        font-size: 1.8rem;
        font-weight: 300;
        text-decoration: line-through;
        color: $light-gray;
        text-align: right;
    }
    // .item-product__add
    &__add {
        background: url('../img/cart-gray.png') 0 0 no-repeat;
        width: 4rem;
        height: 4rem;
    }
    // .item-product__price
    &__price {
        font-size: 2.4rem;
        font-weight: 900;
        color: $black2;
    }
    // .item-product__hover
    &__hover {
        transition: all .5s ease;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(-101%, 0); // дополнительный 1% условный (можно и 10% написать) нужно для того чтобы не было выезжающей полосы-границы у .hover-item-product, чисто на всякий пожарный короче
    }
}


.hover-item-product {
    background-color: rgba(0, 0, 0, 0.84);
    border: solid 5px $orange;
    padding: 1.5rem;
    //padding: 20px calc(12px + 18 * ((100vw - 320px)/ 247.98));
    display: flex;
    flex-direction: column;
    /* @media (min-width: 567.98px){
        padding: calc(20px + 10 * ((100vw - 567.98px)/ 292.02)) calc(12px + 18 * ((100vw - 567.98px)/ 292.02));
    }
    @media (min-width: 860px){
        padding: calc(20px + 10 * ((100vw - 860px)/ 240)) calc(12px + 18 * ((100vw - 860px)/ 240));
    }
    @media (min-width: 991.98px){
        padding: 20px 12px;
    } */


    // .hover-item-product__title
    &__title {
        color: $gray8;
        font-weight: 300;
        margin-bottom: 2.5rem;
        span{
            display: block;
            font-size: 1.6rem;
            font-weight: 900;
            color: $white;
            margin-bottom: 0.5rem;
        }
    }
    // .hover-item-product__body
    &__body{
        flex: 1 1 auto;
        padding-top: 2.5rem;
    }
    // .hover-item-product__options
    &__options {
    }
    // .hover-item-product__cart
    &__cart {
        display: block;
        background: url('../img/cart-orange.png') 0 0 no-repeat;
        width: 5.7rem;
        height: 5.7rem;
        margin: 0 auto 2.5rem auto;
    }
    // .hover-item-product__footer
    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    // .hover-item-product__old-price
    &__old-price {
        flex: 1 1 100%;
        text-align: right;
        color: $light-gray;
        font-size: 1.8rem;
        font-weight: 300;
        text-decoration: line-through;
        margin-bottom: 1rem;
    }
    // .hover-item-product__stock
    &__stock {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.1rem;
        line-height: 1.6rem;
        background-color: $white;
        font-size: 1.4rem;
        font-weight: 400;
        color: $orange;
        padding: 0 1rem;
        border-radius: 15px;
    }
    // .hover-item-product__price
    &__price {
        font-size: 24px;
        font-weight: 900;
        color: $white
    }
}
.options-item-product {
    // .options-item-product__item
    &__item {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    // .options-item-product__label
    &__label {
        font-weight: 300;
        color: $white;
        margin-bottom: 0.3rem;
    }
    // .options-item-product__value
    &__value {
        color: $orange;
        font-weight: 900;
    }
}
//====================================================================================================================================================================================================================
.search-page {
    display: flex;
    position: relative;
    // .search-page__select
    &__select {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: $white3;
        padding: 0 1.4rem;
        @media (max-width:$md3+px){
            display: none;
        }
        &::before{
            content: '';
            background: url('../img/search-page__icon.png') no-repeat;
            width: 1.7rem;
            height: 1.7rem;
        }
        &::after{
            content: '';
            background: url('../img/search-page__arrows.png') no-repeat;
            width: 1rem;
            height: 1rem;
            transition: all 0.3s ease 0s;
        }
        &._categories{ // для смены спанов
            span{
                display: none;
                &:last-child{
                    display: block;
                }
            }
        }
        &._active{
            &::after{
                transform: rotate(-180deg);
            }
        }
    }
    // .search-page__title по идее не нужен этот класс либо спан UPD спан мы удалили
    &__title{
        margin: 0 1.3rem;
        color: $gray4;
        font-weight: 300;
        border-bottom: 1px dotted;
        span{
            &:last-child{
                display: none;
            }
        }
    }
    // .search-page__categories
    &__categories {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    // .search-page_input
    &__input{
        border-top: 2px solid $white2;
        border-bottom: 2px solid $white2;
        flex: 1 1 auto;
        @media (max-width:$md3+px){
            border: 2px solid $white2;
        }
        .input{
            height: 100%;
            padding: 0 2rem;
        }
    }
    // .search-page__btn
    &__btn {
    }
}
.categories-search {
    background-color: $white;
    display: none;
    //height: 0;
    //overflow: hidden;
    transition: all 0.5s ease 0s;
    &::after{
        content: '';
        background-color: $orange;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &._active{
        //height: 28.033rem;
        display: block; //это писать не обязательно т.к. у нас функция слайдтоггл в жс делает всё как нужно
        //
    }
    // .categories-search__row
    &__row{
        @media (min-width:$md3+px){
            display: flex; // хуй знает по идее эта обертка лишняя
            border-right: 1px solid $white2;
            border-left: 1px solid $white2;
        }
        @media (max-width:$md2+px){
            padding: 2rem 0;
        }
    }

    // .categories-search__column
    &__column {
        flex: 0 1 33.333%;
        padding: 2.7rem 4rem;
        border-right: 1px solid $white3;
        &:last-child{
            border: 0;
        }
        @media (max-width:$md1+px){
            padding: 2.7rem 2rem;
        }
        @media (max-width:$md2+px){
            padding: 0 2rem;
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
        }

    }
    // .categories-search__list
    &__list {
        li{
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }

        }
    }
    // .categories-search__checkbox
    &__checkbox{
        .checkbox__input{
            &:checked + .checkbox__text{
                color: $orange;
            }
        }
        .checkbox__text{
            color: $light-gray;
            &::before{
                display: none;
            }
        }
    }
}








.rub:after{
    content: '₽';
    font-size: 0.7em;
    color: inherit;
}

.side-title {
    font-family: "UniSans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 116.66667%;
    letter-spacing: 0.75px;
    color: $gray3;
    transition: all 0.3s ease 0s;
    @media (min-width:$md2+px){
        &:hover{
            color: $blue2;
        }
    }
}
.news-side {
    // .news-side__title
    &__title {
        display: inline-block;
        margin: 0 0 25px/30px * 1em 0;
    }
    // .news-side__items
    &__items {
    }
    // .news-side__item
    &__item {
        margin-bottom: 4.5rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    //.news-side__label
    &__label{
        color: $black2;
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0 0 20px/12px * 1em 0;
        display: inline-block;
        transition: all 0.3s ease 0s;
        @media (min-width:$md2+px){
            &:hover{
                color: $orange2;
            }
        }
    }
    // .news-side__body
    &__body {
        display: flex;
    }
    // .news-side__data
    &__date {
        flex: 0 0 3rem;
        text-align: center;
        //text-transform: uppercase;
        color: $gray7;
        font-size: 1.8rem;
        font-weight: 300;
        span{
            display: block;
            font-weight: 900;
            font-size: 2.4rem;
        }
    }
    // .news-side__text
    &__text {
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 300;
        color: $gray4;
        padding-left: 1.5rem;
    }
}

.reviews-side {
    // .reviews-side__title
    &__title {
        display: inline-block;
        margin: 0 0 20px/30px * 1em 0;
    }
    // .reviews-side__items
    &__items {

    }
    // .reviews-side__item
    &__item {
        margin-bottom: 4rem;
        &:last-child{
            margin-bottom: 0;
        }
        @media (min-width:$md2+px){
            &:hover{
                .reviews-side__user,
                .reviews-side__date{
                    color: $blue2;
                }
                .reviews-side__body{
                    background-color: $blue2;
                    color: $white;
                }
            }
        }
    }
    // .reviews-side__header
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        transition: all 0.3s ease 0s;
    }
    // .reviews-side__user
    &__user {
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $black2;
        transition: all 0.3s ease 0s;
        @media (min-width:$md2+px){
            &:hover{
                color: $blue2;
            }
        }
    }
    // .reviews-side__date
    &__date {
        color: $gray7;
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 300;
    }
    // .reviews-side__body
    &__body {
        transition: all 0.3s ease 0s;
        position: relative;
        padding: 1.4rem 0.8rem 1.4rem 3rem;
        &::before{
            content: '”';
            position: absolute;
            left: 8px;
            top: 12px;
            font-size: 4.8rem;
            color: $gray3;
            font-weight: 700;
            line-height: 1;
        }
        color: $gray4;
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 300;
    }
}
