
//==================================================================================================================================================================================
.breadcrumbs {
    overflow: auto;
    margin-bottom: 2.5rem;

    // .breadcrumbs__list
    &__list {
        display: flex;
        align-items: baseline;
        white-space: nowrap;
        li{
           padding-right: 2rem; //если текст будет длиннее, для надежности
           margin-right: 1rem;
           background: url('../img/text-arrow.png') right / 10px no-repeat;
           &:last-child{
               background: none;
               padding-right: 0;
               margin-right: 0;
           }

        }
    }
    // .breadcrumbs__link
    &__link {
        //display: inline-block;
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 300;
        text-decoration: underline;
        color: $blue2;
    }
    // .breadcrumbs__item
    &__item {
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 300;
        color: $light-gray;
    }
}
//==================================================================================================================================================================================
.product {
    // .product__title
    &__title {
        margin-bottom: 2rem;
        font-family: 'UniSans', sans-serif;
        font-size: 3.6rem;
        line-height: 3.6rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $black2;
        span{
            display: block;
            font-size: 3rem;
            color: $gray9;
        }


    }
    // .product__content
    &__content {
        display: flex;
    }
    // .product__images
    &__images {
        flex: 0 0 42%;
        min-width: 0;
        margin-bottom: 4rem;
        @media (min-width: $md1+px){
            margin-bottom: 0;
        }
    }
    // .product__body
    &__body {
        flex: 1 1 auto;
        padding-left: 3rem;
    }
}
//==================================================================================================================================================================================
.images-product {
    // .images-product__mainslider
    &__mainslider {
        margin-bottom: 1.3rem;
    }
    // .images-product__mainslide
    &__mainslide {
        border: 1px solid $white4;
        height: 30.08rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    // .images-product__sale
    &__sale {
        position: absolute;
        top: 16px;
        left: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 58px;
        height: 58px;
        background-color: #f65738;
        font-size: 1.6rem;
        color: white;
    }
    // .images-product__image
    &__image {
    }
    // .images-product__subslider
    &__subslider {
        margin: 0 -0.6rem;
    }
    // .images-product__subslide
    &__subslide {
        padding: 0 0.6rem;
        &.swiper-slide-thumb-active{
            .images-product__subimage{
                border: 1px solid $orange2;
                &::after{
                    opacity: 1;
                }

            }
        }
    }
    // .images-product__subimage
    &__subimage {
        height: 6.8rem;
        border: 1px solid $gray15;
        position: relative;
        transition: all $t ease 0s;
        &::after {
            content: "";
            position: absolute;
            transition: all $t ease 0s;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 3px solid $orange2;
            opacity: 0;
        }
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
}
//==================================================================================================================================================================================

//==================================================================================================================================================================================
.body-product {
    // .body-product__top
    &__top {
        display: flex;
        align-items: center; //вообще там по макету flex-start, но проще stock подрихтовать и сравнять с compare
        justify-content: space-between;
        padding: 1.2rem 0;
        border-bottom: 1px solid $gray14;
    }
    // .body-product__compare
    &__compare {
        padding: 0 1.5rem;
        background-color: $gray13;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        height: 3.3rem;
        font-size: 1.4rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $gray4;
        span{ //ну типа наркомания конечно, проще было саму svg-шку спрайтом а спану ml 5-10px
            line-height: 2.1rem;
            background: url('../img/compare-gray.svg') left no-repeat;
            padding-left: 3.5rem;
        }
    }
    // .body-product__stock
    &__stock { //можно было как dib, но тогда пришлось бы паддинги проставлять что-то типа 7px 10px 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 21px;
        background-color: $orange2;
        border-radius: 15px;
        padding: 0 1rem;
        font-size: 1.4rem;
        font-weight: 300;
    }
    // .body-product__actions
    &__actions {
        border-bottom: 1px solid $gray14;
    }
    // .body-product__include
    &__include {
        border-bottom: 1px solid $gray14;
    }
}

//==================================================================================================================================================================================


.actions-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;

    // .actions-product__column
    &__column {
    }
    // .actions-product__price
    &__price {
        position: relative;
        // .actions-product__price--old
        &--old {
            position: absolute;
            right: 0;
            top: -1em;
            text-align: right;
            color: $light-gray;
            font-size: 1.6rem;
            text-decoration: line-through;
        }
        &--new{
            font-size: 2.4rem;
            line-height: 4rem;
            font-weight: 900;
            color: $black2;
            white-space: nowrap;
        }
    }
    // .actions-product__quantity
    &__quantity {
    }
    &__cart{
        display: flex;
        position: relative;
        white-space: nowrap;
        &-bg{
            width: 5.7rem;
            height: 5.7rem;
            position: absolute;
            right: 0;
            bottom: 50%;
            transform: translate(0,50%);
            background: $orange2;
            border-radius: 50%;
            display: flex;
        }
        &-icon{
            margin: auto;
            padding-bottom: 0.5rem;
            width: 4rem;
            height: 4rem;
            fill: $white;
        }
        span{
            flex: 1 1 100%;
            margin-right: 4.5rem;
            padding: 1.2rem 2rem 1.2rem 1.6rem;
            text-transform: uppercase;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 900;
            color: $light-gray;
            background-color: $gray13;
        }
    }
    .actions-product__price--old{
        position: static;
        text-align: left;
        margin-bottom: .5em;
    }
    .actions-product__price--new {
        line-height: 1;
        white-space: nowrap;
    }
}
//==================================================================================================================================================================================
.quantity {
    color: $black;
    display: inline-flex;
    align-items: center;
    // .quantity__button
    &__button {
        flex: 0 0 1.4rem;
        display: flex;
        position: relative;
        cursor: pointer;
        // .quantity__button--minus
        &--minus {
        }
        // .quantity__button--plus
        &--plus {
            transform: rotate(-180deg);
        }
    }
    // .quantity__input
    &__input {
        flex: 1 1 auto;
        input{
            margin: 0 1.5rem;
            padding: 0.7rem 0.5rem;
            width: 5.6rem;
            font-size: 1.6rem;
            font-weight: 900;
            color: $light-gray;
            text-align: center;
            border: solid 2px $gray11;
        }
    }
}
.quantity-btn { // со стрелками в макете полный пиздец, делаю как есть
    margin: auto;
    width: 1.7rem;
    height: 1.7rem;
    fill: $light-gray;
    stroke: $light-gray;
    stroke-width: 5px;
    transition: all $t ease 0s;
    @media (min-width: $md2+px){
        &:hover {
            stroke: $orange2;
        }
    }
}


//==================================================================================================================================================================================
.include-product {
    color: $black;
    padding: 2.2rem 0 0;
    // .include-product__title
    &__title {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $black2;
        margin-bottom: 1rem;
    }
    // .include-product__items
    &__items {
        display: inline-flex; // вот это прикольная тема
    }
    // .include-product__item
    &__item {
        padding: 0 1rem;
        margin: 0 calc(15px + 25 * ((100vw - 320px)/ 380)) 12px 0;
        @media (min-width: $md2+px){
            margin: 0 4rem 1.2rem 0;
        }
        &:last-child{
            margin: 0px 0px 1.2rem 0px;
        }
    }
    // .include-product__icon
    &__icon {
        min-height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    // .include-product__text
    &__text {
        display: inline-block;
        max-width: 7rem;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.6rem;
        font-weight: 300;
        color: $light-gray;
    }
}
