@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&family=Roboto:wght@700&display=swap");
@font-face {
  font-family: "UniSans";
  src: url("../fonts/UniSans-Trial-Heavy.otf") format("otf"); }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "asd", sans-serif;
  background-color: var(--color-white); }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.for-mobile {
  display: none; }
  @media (max-width: 768px) {
    .for-mobile {
      display: block; } }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

/*
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*************************************************/
/*++++++++++++++++++++++++++++++++++++++++++++++++++ reset.css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-size: 1.4rem;
  color: #fff;
  font-family: "Roboto";
  overflow-x: hidden; }

a {
  color: #000; }

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2rem; }
  @media (max-width: 767.98px) {
    ._container {
      padding: 0 1rem; } }

.header {
  background: #fff url("../img/bg-header.png") top no-repeat;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  position: fixed; }
  @media (max-width: 767.98px) {
    .header {
      background: #fff url("../img/bg-header.png") 0 -2rem no-repeat; } }

.top-header__content {
  display: flex;
  align-items: center;
  height: 9rem; }
  @media (max-width: 767.98px) {
    .top-header__content {
      height: 7rem; } }

.top-header__column {
  flex: 0 1 50%; }
  .top-header__column--logo {
    flex: 0 0 19rem;
    text-align: center; }
    @media (min-width: 767.98px) {
      .top-header__column--logo {
        align-self: flex-start;
        padding-top: 2.5rem; } }
    @media (max-width: 767.98px) {
      .top-header__column--logo {
        flex: 0 0 10rem; } }

.top-header__logo {
  position: relative;
  z-index: 5;
  display: inline-block; }
  @media (max-width: 767.98px) {
    .top-header__logo {
      width: 10rem; }
      .top-header__logo img {
        max-width: 100%; } }

.top-header__contacts {
  position: relative;
  z-index: 5; }

@media (max-width: 991.98px) {
  .menu__body {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
    z-index: 2;
    padding: 12rem 2rem 3rem 2rem;
    transition: all 0.3s ease 0s; }
    .menu__body::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      height: 10.5rem;
      width: 100%;
      background-color: #009eb2;
      z-index: 3; }
    .menu__body._active {
      opacity: 1;
      visibility: visible; } }

@media (max-width: 767.98px) {
  .menu__body {
    padding: 9rem 2rem 3rem 2rem; }
    .menu__body::before {
      height: 7rem; } }

.menu__list {
  display: grid;
  grid-template-columns: 11rem 13rem 18rem; }
  .menu__list li {
    margin: 0.1rem 0; }
  @media (max-width: 1192px) {
    .menu__list {
      grid-template-columns: 9rem 11rem 16rem; } }
  @media (max-width: 991.98px) {
    .menu__list {
      display: block; }
      .menu__list li {
        margin-bottom: 2rem; } }

.menu__link {
  color: #fff;
  font-family: "PLay";
  min-height: 2.7rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 2.2rem;
  text-decoration: underline;
  transition: all 0.3s ease 0s; }
  @media (min-width: 991.98px) {
    .menu__link:hover {
      border-radius: 20px;
      background-color: #068292; } }
  @media (min-width: 1192px) {
    .menu__link {
      padding: 0.3rem 1rem; } }
  @media (max-width: 991.98px) {
    .menu__link {
      color: #000;
      padding: 0;
      font-size: 2rem; } }

.icon-menu {
  display: none; }
  @media (max-width: 991.98px) {
    .icon-menu {
      display: block;
      position: relative;
      width: 3rem;
      height: 1.8rem;
      cursor: pointer;
      z-index: 5; }
      .icon-menu span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 0.1rem);
        left: 0;
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: #fff; }
        .icon-menu span:first-child {
          top: 0; }
        .icon-menu span:last-child {
          top: auto;
          bottom: 0; }
      .icon-menu._active span {
        transform: scale(0); }
        .icon-menu._active span:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 0.1rem); }
        .icon-menu._active span:last-child {
          transform: rotate(45deg);
          top: calc(50% - 0.1rem); } }

.contacts-header {
  display: flex;
  justify-content: center; }
  @media (max-width: 991.98px) {
    .contacts-header {
      justify-content: flex-end; } }
  @media (max-width: 640px) {
    .contacts-header {
      align-items: center; } }
  .contacts-header__column {
    padding: 0 3rem; }
    @media (min-width: 991.98px) {
      .contacts-header__column {
        border-left: 1px solid #fff; }
        .contacts-header__column:first-child {
          border: 0; } }
    @media (max-width: 1192px) {
      .contacts-header__column {
        padding: 0 1.5rem; } }
    @media (max-width: 640px) {
      .contacts-header__column {
        padding: 0; } }
  .contacts-header__item--icon {
    background: url("../img/phone.png") left no-repeat;
    padding-left: 3.7rem; }
    @media (max-width: 1192px) {
      .contacts-header__item--icon {
        padding-left: 2.5rem;
        background-size: 1.5rem; } }
    @media (max-width: 640px) {
      .contacts-header__item--icon {
        background: none;
        padding-left: 0; } }
  @media (max-width: 991.98px) {
    .contacts-header__item--second-phone {
      display: none; } }
  .contacts-header__label {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0.5rem; }
    @media (max-width: 640px) {
      .contacts-header__label {
        display: none; } }
  .contacts-header__phone {
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
    white-space: nowrap; }
    @media (max-width: 1192px) {
      .contacts-header__phone {
        font-size: 1.6rem; } }
    @media (max-width: 640px) {
      .contacts-header__phone {
        font-size: 0;
        background: url("../img/phone.png") left no-repeat;
        width: 1.9rem;
        height: 2.5rem;
        display: block;
        margin-right: 1rem; } }

.bottom-header__row {
  height: 6.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1192px) {
    .bottom-header__row {
      padding: 0 1rem; } }
  @media (max-width: 991.98px) {
    .bottom-header__row {
      padding: 0; } }

.bottom-header__column {
  flex: 0 1 calc(50% - 9.5rem); }

.actions-header {
  display: flex;
  align-items: center; }
  .actions-header li {
    margin-right: 5.4rem; }
    @media (max-width: 1180px) {
      .actions-header li {
        margin-right: 2.54237vw; } }
    .actions-header li:last-child {
      margin-right: 0; }
  @media (max-width: 640px) {
    .actions-header {
      justify-content: space-between;
      margin-bottom: 1.5rem; } }
  .actions-header__item {
    padding-left: 3.6rem;
    display: inline-block;
    line-height: 2.4rem;
    color: #999;
    transition: color 0.3s ease; }
    .actions-header__item span {
      border-bottom: 1px dotted; }
    .actions-header__item--login {
      background: url("../img/login.png") left no-repeat; }
    .actions-header__item--signup {
      background: url("../img/user.png") left no-repeat; }
    .actions-header__item--email {
      background: url("../img/mail.png") left no-repeat; }
      .actions-header__item--email span {
        border-bottom: 1px solid; }
    @media (max-width: 1192px) {
      .actions-header__item {
        padding-left: 3rem; } }
    @media (min-width: 991.98px) {
      .actions-header__item:hover {
        color: #1ab9ce; } }
    @media (max-width: 991.98px) {
      .actions-header__item {
        padding: 0;
        background: none; } }

.info-header {
  display: flex;
  justify-content: center;
  align-items: center; }
  .info-header__column {
    padding-right: 5.4rem; }
    @media (max-width: 1180px) {
      .info-header__column {
        padding-right: 2.54237vw; } }
    .info-header__column:last-child {
      padding: 0; }
  .info-header__callback {
    background: url("../img/callback.png") left no-repeat;
    display: inline-block;
    color: #1ab9ce;
    line-height: 2rem;
    padding-left: 3.2rem;
    white-space: nowrap; }
    .info-header__callback span {
      border-bottom: 1px dotted; }
  .info-header__schedule {
    background: url("../img/schedule.png") left no-repeat;
    padding-left: 3.7rem;
    color: #000;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: #999; }
    .info-header__schedule span {
      font-weight: 900; }
    @media (max-width: 1192px) {
      .info-header__schedule {
        background: none;
        padding: 0; } }
    @media (max-width: 991.98px) {
      .info-header__schedule {
        display: none; } }
  .info-header__cart {
    width: 3.9rem;
    height: 3.9rem;
    display: inline-block;
    background: url("../img/cart.png") 0 0/100% no-repeat;
    position: relative;
    cursor: pointer;
    /* @media(max-width: 640px){
            span{
                font-size: 1.4rem;
                line-height: 2rem;
                padding: 0 0.5rem;
            }
        } */ }
    .info-header__cart span {
      padding: 0 0.7rem;
      border-radius: 20px;
      position: absolute;
      line-height: 2.5rem;
      background-color: #f68038;
      right: -2.5rem;
      top: -0.3rem;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 700; }
      @media (max-width: 1192px) {
        .info-header__cart span {
          right: -1rem; } }
      @media (max-width: 640px) {
        .info-header__cart span {
          font-size: 1.4rem;
          line-height: 2rem;
          padding: 0 0.5rem;
          right: -0.5rem; } }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.checkbox {
  position: relative; }
  .checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden; }
    .checkbox__input:checked + .checkbox__text::before {
      background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") center no-repeat; }
  .checkbox__text {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer; }
    .checkbox__text::before {
      content: '';
      align-items: flex-start;
      margin-right: 1.4rem;
      flex: 0 0 2rem;
      left: 0;
      top: 0;
      width: 2rem;
      height: 1.8rem;
      background: #fff;
      border: 1px solid #a7a9ac; }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  height: 3.9rem;
  background-color: #f68038;
  transition: all 0.3s ease 0s;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.8rem;
  text-transform: uppercase;
  border: none; }
  @media (min-width: 992px) {
    .btn:hover {
      background-color: #cc4510; } }
  .btn._fw {
    width: 100%; }

.page {
  flex: 1 1 auto;
  padding-top: 16rem; }
  .page__container {
    display: flex; }
  .page__side {
    flex: 0 0 26rem; }
  .page__content {
    flex: 1 1 auto;
    padding-left: 3rem; }
  .page__search {
    margin-bottom: 2.2rem; }
  .page__slider {
    margin-bottom: 6.5rem; }

.menu-page {
  position: relative;
  background: url("../img/bg-menu.png") top no-repeat; }
  .menu-page__header {
    display: flex;
    align-items: center;
    padding: 2rem; }
  .menu-page__title {
    font-family: "UniSans", sans-serif;
    font-size: 30px;
    line-height: 116.66667%;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-weight: 700; }
  .menu-page__burger {
    flex: 0 0 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #068292;
    position: relative;
    cursor: pointer;
    z-index: 5;
    padding: 1rem 0.6rem; }
    .menu-page__burger span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 0.1rem);
      left: 0;
      position: absolute;
      width: 100%;
      height: 0.2rem;
      background-color: #fff; }
      .menu-page__burger span:first-child {
        top: 0; }
      .menu-page__burger span:last-child {
        top: auto;
        bottom: 0; }
    .menu-page__burger._active span {
      transform: scale(0); }
      .menu-page__burger._active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 0.1rem); }
      .menu-page__burger._active span:last-child {
        transform: rotate(45deg);
        top: calc(50% - 0.1rem); }
  .menu-page__lines {
    height: 16px;
    position: relative; }
  .menu-page__body {
    transition: all 0.5s ease 0s;
    height: 0;
    overflow: hidden; }
    .menu-page__body._active {
      height: 53.2rem; }
  .menu-page__list > li {
    border-bottom: 1px solid #1aa7b9; }
  .menu-page__parent .menu-page__link::after {
    content: '';
    position: absolute;
    right: 1rem;
    background: url("../img/menu-arrow.png") no-repeat;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4rem;
    height: 1.4rem; }
  .menu-page__parent._active .submenu-page__item {
    z-index: 2;
    transform: translateX(0); }
  .menu-page__parent._active .menu-page__link {
    background-color: #098494; }
  .menu-page__link {
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 1.3rem;
    color: #fff;
    display: block;
    position: relative;
    padding: 1.2rem 2rem;
    transition: all 0.3s ease 0s; }
    @media (min-width: 991.98px) {
      .menu-page__link:hover {
        background-color: #068292; } }
  .menu-page__submenu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    overflow: hidden; }

.submenu-page__item {
  transition: all .7s ease 0s;
  width: 28rem;
  border: 2px solid #098494;
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%); }

.submenu-page__menu {
  border-bottom: 1px solid #dedede;
  padding: 2rem 0; }

.submenu-page__link {
  font-size: 1.3rem;
  font-weight: 300;
  color: #1ab9ce;
  letter-spacing: 0.3px;
  padding: 1rem 4rem;
  display: block;
  transition: all 0.3s ease 0s; }
  @media (min-width: 991.98px) {
    .submenu-page__link:hover {
      color: #fff;
      background-color: #71c7d3; } }

.submenu-page__product {
  padding: 0 1.5rem; }

.item-product {
  padding: 1.5rem;
  color: #000;
  position: relative; }
  .item-product__labels {
    position: absolute;
    left: 15px;
    top: 15px; }
  .item-product__label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    line-height: 2.1rem;
    background-color: #f68038;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer; }
  .item-product__image {
    height: 19.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0; }
    .item-product__image img {
      max-width: 100%;
      max-height: 17.5rem; }
  .item-product__body {
    padding: 0 1rem; }
  .item-product__title {
    color: #36949f;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem;
    display: inline-block;
    margin-bottom: 0.5rem; }
  .item-product__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .item-product__old-price {
    flex: 1 1 100%;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: line-through;
    color: #999;
    text-align: right; }
  .item-product__add {
    background: url("../img/cart-gray.png") 0 0 no-repeat;
    width: 4rem;
    height: 4rem; }
  .item-product__price {
    font-size: 2.4rem;
    font-weight: 900;
    color: #333;
    text-align: right; }

.search-page {
  display: flex;
  position: relative; }
  .search-page__select {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0 1.4rem; }
    .search-page__select::before {
      content: '';
      background: url("../img/search-page__icon.png") no-repeat;
      width: 1.7rem;
      height: 1.7rem; }
    .search-page__select::after {
      content: '';
      background: url("../img/search-page__arrows.png") no-repeat;
      width: 1rem;
      height: 1rem;
      transition: all 0.3s ease 0s; }
    .search-page__select._categories span {
      display: none; }
      .search-page__select._categories span:last-child {
        display: block; }
    .search-page__select._active::after {
      transform: rotate(-180deg); }
  .search-page__title {
    margin: 0 1.3rem;
    color: #666;
    font-weight: 300;
    border-bottom: 1px dotted; }
    .search-page__title span:last-child {
      display: none; }
  .search-page__categories {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; }
  .search-page__input {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    flex: 1 1 auto; }
    .search-page__input .input {
      height: 100%; }

.categories-search {
  border: 1px solid #f3f3f3;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease 0s; }
  .categories-search::after {
    content: '';
    background-color: #f68038;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .categories-search._active {
    height: 28.033rem; }
  .categories-search__row {
    display: flex; }
  .categories-search__column {
    flex: 0 1 33.333%;
    padding: 2.7rem 4rem;
    border-right: 1px solid #f3f3f3; }
    .categories-search__column:last-child {
      border: 0; }
  .categories-search__list li {
    margin-bottom: 2rem; }
    .categories-search__list li:last-child {
      margin-bottom: 0; }
  .categories-search__checkbox .checkbox__input:checked + .checkbox__text {
    color: #f68038; }
  .categories-search__checkbox .checkbox__text {
    color: #999; }
    .categories-search__checkbox .checkbox__text::before {
      display: none; }

.input {
  border: 0;
  width: 100%;
  display: block;
  padding: 0 2rem; }

.rub:after {
  content: '₽';
  font-size: 0.7em;
  color: inherit; }

.mainslider {
  color: #000; }
  .mainslider__slide {
    position: relative; }
  .mainslider__content {
    position: relative;
    z-index: 2; }
  .mainslider__image {
    position: absolute; }

._swiper div {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-sizing: content-box; }

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover; }

/*# sourceMappingURL=main.css.map */
