// COLORS
$font-family: "Roboto";
$minWidth: 320;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12; // хз зачем так
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


$blue: #009eb2;
$white: #fff;
$black: #000;
$light-gray: #999;
$blue2: #1ab9ce;
$blue3: #14c0d4; //это цвет шапки в макете типа
$blue4: #068292; //цвет бургера в сайде
$orange: #f68038;
$gray2: #1aa7b9;
$blue5: #71c7d3;
$blue6: #098494;
$blue7: #36949f;
$black2: #333;
$gray3: #dedede;
$white2: #f2f2f2;
$gray4: #666;
$white3: #f3f3f3;
$gray5: #979797;
$gray6: #92918e;
$orange2: #fd8322;
$gray7: #d8d8d8;
$gray8: #c2c2c2;
