
// @import 'vars'; если используете scss-переменные - подключите сюда vars, но удалите root из _vars.scss
@import "./global.scss";
@import "./vendor.scss";
// CUSTOM COMPONENTS STYLES
// .burger {
//   --burger-width: 40px;
//   --burger-height: 20px;
//   --burger-line-height: 2px;

//   @include burger;
// }

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body{
    background-color: $white;
    font-size: 1.4rem;
    color: $white;
    font-family: $font-family;
    overflow-x: hidden;
}

a{
    color: $black;
}


._swiper {
    overflow: hidden //типа это отвечает за то чтобы высота картинки была пропорциональна контенту а не 100% от исходной
}

._swiper>div { // я хуй знает зачем это надо, оно не меняет АБСОЛЮТНО НИЧЕГО БЛЯТЬ, но при этом именно эта хуйня вроде как переопределяла мне всё(если её удалить, можно вернуть и первоначальную запись в моём settings.scss)
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    display: flex;
    position: relative
}

._swiper.swiper-container-autoheight>div {
    align-items: flex-start
}

.swiper-container-initialized .swiper-slide {
    flex-shrink: 0
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
    transform: translate3d(0, 0, 0)
}

.swiper-button-lock {
    display: none !important
}

//стрелки у products-slider
._arrow {
    background: url('../img/products-slider__arrow.svg') 0 0 no-repeat;
    height: 30px;
    width: 33px;
    cursor: pointer;
    &--next {
        //transform: rotate(-180deg);
    }
    &--prev{
        transform: rotate(-180deg);
    }
}

.input {
    //ниже просто заготовка
    border: 0;
    width: 100%;
    display: block;
    outline: none; //сам добавил
    padding: 0;
    &._focus{
    }
    &._error{

    }
}

.select{
    position: relative;
    select{
        display: none;
    }
}
@import "./components/container";
@import "./components/header";
@import "./components/wrapper";
@import "./components/forms";
@import "./components/page";
@import "./components/home";
@import './components/catalog';
@import './components/product';
@import './components/checkout';
@import './components/reviews';
@import "./components/footer";
